<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志只打印 WARN 及以上，屏蔽 INFO 和 DEBUG -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 自己的项目：打印 INFO 及以上（包含 INFO、WARN、ERROR） -->
    <logger name="tech.beawitch.rpc" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>